<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello JJ Medical</title>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>

    <h4 class="mb-3">회원 정보 입력</h4>

    <form action="/members/add" th:action th:object="${MemberRegisterForm}" method="post">

<!--        아이디 중복 체크용?-->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <div>
            <label for="loginId">ID</label>
<!--            <button type="button" class="btn btn-light text-dark me-2"-->
<!--                onclick="fn_idCheck()" value="N">중복확인</button></p>-->

            <input type="text" id="loginId" th:field="*{loginId}" class="form-control" th:errorclass="field-error" >

            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기,
             따로 정의해주지 않아서 기본값, 폼 필드 검증 어노테이션에서 정의한 값-->
            <div class="field-error" th:errors="*{loginId}" />
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>

        <div>
            <label for="name">이름</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" th:errorclass="field-error"
                   autocomplete="off">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{name}" />
        </div>

        <div>
            <label for="phoneNumber">전화번호</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control" th:errorclass="field-error">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{phoneNumber}" />
        </div>

        <div>
            <label for="address">주소</label>
            <input type="text" id="address" th:field="*{address}" class="form-control" th:errorclass="field-error">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{address}" />
        </div>

        <div>
            <label for="addressDetail">상세주소</label>
            <input type="text" id="addressDetail" th:field="*{addressDetail}" class="form-control" th:errorclass="field-error">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{addressDetail}" />
        </div>

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            window.onload = function(){
                document.getElementById("address").addEventListener("click", function(){ //주소입력칸을 클릭하면
                    //카카오 지도 발생
                    new daum.Postcode({
                        oncomplete: function(data) { //선택시 입력값 세팅
                            document.getElementById("address").value = data.address; // 주소 넣기
                            document.querySelector("input[name=addressDetail]").focus(); //상세입력 포커싱
                        }
                    }).open();
                });
            }
        </script>

        <div>
            <label for="email">이메일</label>
            <input type="text" id="email" th:field="*{email}" class="form-control" th:errorclass="field-error">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{email}" />
        </div>

        <div>
            <label for="accountHost">예금주</label>
            <input type="text" id="accountHost" th:field="*{accountHost}" class="form-control" th:errorclass="field-error">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{accountHost}" />
        </div>

        <div>
            <label for="bankName">은행명</label>
            <input type="text" id="bankName" th:field="*{bankName}" class="form-control" th:errorclass="field-error">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{bankName}" />
        </div>

        <div>
            <label for="accountNumber">계좌번호</label>
            <input type="text" id="accountNumber" th:field="*{accountNumber}" class="form-control" th:errorclass="field-error">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{accountNumber}" />
        </div>

        <div>
            <label for="HospitalName">병원/ 사업체명</label>
            <input type="text" id="HospitalName" th:field="*{HospitalName}" class="form-control" th:errorclass="field-error">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{HospitalName}" />
        </div>

        <div>
            <label for="businessRegisterNumber">사업자등록번호</label>
            <input type="text" id="businessRegisterNumber" th:field="*{businessRegisterNumber}" class="form-control" th:errorclass="field-error">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{businessRegisterNumber}" />
        </div>

        <div>
            <label for="doctorLicenseNumber">의사면허번호</label>
            <input type="text" id="doctorLicenseNumber" th:field="*{doctorLicenseNumber}" class="form-control" th:errorclass="field-error">
            <!--id입력칸 에러 뜨면 입력칸 밑에 빨간 글씨 에러 보여주기, 따로 정의해주지 않아서 기본값-->
            <div class="field-error" th:errors="*{doctorLicenseNumber}" />
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
            </div>

            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>