<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/membersHeader :: header"/>
<body class="text-center">

<main class="form-signin w-100 m-auto">
    <form th:object="${idFindForm}" th:action method="post">

        <div style="margin:30px;">
            <h1 class="h3 mb-3 fw-normal">아이디 찾기</h1>
        </div>

        <div style="margin:5px;" >

            <label for="memberName"></label>

            <input type="text" id="memberName" th:field="*{name}"  class="form-control"
                   placeholder="이름 입력" th:errorclass="field-error" autocomplete="off">

            <div class="field-error" th:errors="*{name}" />
        </div>

        <div style="margin:5px;">

            <label for="memberPhoneNumber"></label>

            <input type="text" id="memberPhoneNumber" th:field="*{phoneNumber}" class="form-control"
                   placeholder="전화번호 입력" th:errorclass="field-error">

            <div class="field-error" th:errors="*{phoneNumber}" />
        </div>

        <button style="margin-top:30px;" class="w-100 btn btn-lg btn-primary" type="submit"
                th:href="@{/members/tryIdFind}">아이디 찾기</button>

        <div th:replace="fragments/footer :: footer" />
    </form>
</main>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>