<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hello JJ Medical</title>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

    <div class="py-5 text-center">
        <h2>비밀번호 변경</h2>
    </div>

    <form th:action th:object="${passwordUpdateDto}" method="post">

        <div>
            <label for="loginId">현재 비밀번호</label>
            <input type="password" id="loginId" th:field="*{password}" class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>

        <div>
            <label for="newPassword">새로운 비밀번호</label>
            <input type="password" id="newPassword" th:field="*{newPassword}" class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{newPassword}" />
        </div>

        <div>
            <label for="newPassword2">새로운 비밀번호 재입력</label>
            <input type="password" id="newPassword2" th:field="*{newPassword2}" class="form-control" th:errorclass="field-error">
            <div class="field-error" th:errors="*{newPassword2}"/>
        </div>

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col-6">
                <button class="w-100 btn btn-secondary btn-lg" type="submit">완료</button>
            </div>

            <div class="col-6">
                <a th:href="@{/}" class="w-100 btn btn-light btn-lg" >취소</a>
            </div>
        </div>

    </form>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>