<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/membersHeader :: header"/>
<body class="text-center">

<main class="form-signin w-100 m-auto">

  <div style="margin-bottom:150px;" class="row">
    <h1 class="h2 mb-3 fw-normal">비밀번호 찾기</h1>
  </div>

  <h5 th:if="${result == null}">입력하신 아이디를</h5>
  <h5 th:if="${result == null}">찾을 수 없습니다</h5>

  <h5 th:unless="${result == null}">비밀번호를 찾으려면</h5>
  <h5 th:unless="${result == null}">이메일 본인인증이 필요합니다.</h5>

  <div style="margin-bottom:150px;" class="row">
  </div>

  <a th:unless="${result == null}" class="w-100 btn btn-lg btn-primary"
     th:href="@{/members/sendmail/{memberId} (memberId=${result})}">메일 보내기</a>

  <div th:replace="fragments/footer :: footer" />
</main>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</html>
